<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label class="label">Enter Email</label>
      <input
        class="input"
        [ngClass]="{ 'is-danger': emailControl.errors && emailControl.touched }"
        #emailControl="ngModel"
        type="email"
        pattern=".+@.+\..+"
        required
        name="email"
        [(ngModel)]="email"
      />
      <ng-container *ngIf="emailControl?.errors">
        <div class="help is-danger" *ngIf="emailControl.errors?.required">
          You must enter an email
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors?.pattern">
          Please enter a valid email
        </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailForm.invalid">
      Submit
    </button>
  </form>

  {{ emailForm.valid }}
  {{ emailForm.controls.email.errors | json }}
  {{ emailForm.value | json }}
</div>
